<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.provide.dept8001.dao.DeptDao">


	<select id="findById" resultType="com.cloud.common.entity.Dept" parameterType="Long">
		select  * from dept where deptNo=#{deptNo};
	</select>
	<select id="findAll" resultType="com.cloud.common.entity.Dept">
		select *
		from dept;
	</select>
	<insert id="addDept" parameterType="com.cloud.common.entity.Dept">
		INSERT INTO dept ( dept.deptName ,dept.dbName) VALUES (#{deptName} ,DATABASE() );
	</insert>

</mapper>
 

